.footer-container {
  background-color: var(--cor-primaria);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.85rem;
}